body {
  height: 100vh;
  width: 100vw;
  background: #F2ECDF;
  display: flex;
  position: fixed;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.pickle {
  height: 60vmin;
  pointer-events: none;
  rotate: -39deg;
}

.content-pickle {
  justify-content: center;
  display: flex;
}


.App-header {
  background-color: #B5A53B;
  display: flex;
  align-items: center;
  color: white;
  height: 80px;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
}
